{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h6>welcome {{a.admin_name}} </h6>
    {% include 'admin/admin_menu.html' %} 
</div>
<div class="container mt-3 p-3 border rounded">
 

	
	{% if messages %}
	
	{% for message in messages %}
	<div class="alert alert-success text-center mb-3">{{message}}</div>
	{% endfor %}
	{% endif %}

	<div class="row">
		<div class="col-6"><a href=""  data-bs-toggle="modal" data-bs-target="#Add_Category_Modal" class="btn btn-success" >Add Seller</a></div>
		
	</div>



<table class="table">
<thead>
  <tr>
	<th scope="col">Number</th>
	<th scope="col">Shop Name</th>
	<th scope="col">Woner Name</th>
	<th scope="col">mobile</th>
	<th scope="col">Pin</th>
	<th scope="col">Category</th>
	<th scope="col">Status</th>
	<th scope="col">Edit</th>
  </tr>
</thead>
<tbody>{% for s in s %}
  <tr>
	<th scope="row">{{forloop.counter}}</th>
	<td>{{s.shope_name}}</td>
	<td>{{s.seller_name}}</td>
	<td>{{s.seller_mobile}}</td>
	<td>{{s.pin}}</td>
	<td><a href="/product/seller_select_category/{{s.id}}" class="btn btn-info p-2" >Select Category</a></td>
	<td><form class="" method="POST">{% csrf_token %}{% if s.status == 1 %}<button class="btn btn-success" type="submit" name="Active">Active<input type="hidden" name="id" value="{{s.id}}"></button>{% else %}<button class="btn btn-danger" type="submit" name="Deactive">Deactive<input type="hidden" name="id" value="{{s.id}}"></button>{% endif %}</form></td>
	<td><a href="" class="text-bg-info p-2"data-bs-toggle="modal" data-bs-target="#Edit_Seller_Modal_{{s.id}}" >Edit</a></td>
  </tr>

  
<!-- Edit Category Modal -->
<form action="" method="POST">
{% csrf_token %}
<div class="modal fade" id="Edit_Seller_Modal_{{s.id}}" tabindex="-1" aria-labelledby="Edit_Seller_Modal_{{s.id}}" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5">Edit Seller</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<input type="hidden" name="seller_id" value="{{s.id}}">
			<div class="mb-3">
				<label for="shope_name">Shope Name</label>
				<input type="text" name="shope_name" id="shope_name" class="form-control" value="{{s.shope_name}}">
			  </div>
			 
			  <div class="mb-3">
				<label for="seller_name">Seller Name</label>
				<input type="text" name="seller_name" id="seller_name" class="form-control" value="{{s.seller_name}}">
			  </div>          
	
			  <div class="mb-3">
				<label for="shop_address">Shop Address</label>
				<input type="text" name="shop_address" id="shop_address" class="form-control" value="{{s.shop_address}}">
			  </div>          
	
			  <div class="mb-3">
				<label for="seller_mobile">Mobile</label>
				<input type="number" name="seller_mobile" id="seller_mobile" class="form-control" value="{{s.seller_mobile}}">
			  </div>          
	
			  <div class="mb-3">
				<label for="seller_mobile">pin</label>
				<input type="number" name="pin" id="pin" class="form-control" value="{{s.pin}}">
			  </div>  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary" name="Edit">Submit</button>
		</div>
	  </div>
	</div>
  </div>
</form>



  
<!-- Delete Category Modal -->
<form action="" method="POST">
{% csrf_token %}
<div class="modal fade" id="Delete_Dish_Category_Modal_{{dc.id}}" tabindex="-1" aria-labelledby="Delete_Dish_Category_Modal_{{dc.id}}" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-body">
		<input type="hidden" name="id" value="{{dc.id}}">
		  <p> Are you sure ? You want to Delete</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary" name="Delete">Delete</button>
		</div>
	  </div>
	</div>
  </div>
</form>


  {% endfor %}
</tbody>

</table>


<!-- Add Category Modal -->
<form action="" method="POST">
{% csrf_token %}
<div class="modal fade" id="Add_Category_Modal" tabindex="-1" aria-labelledby="Add_Category_Modal" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="Add_Category_Modal">Add New Seller</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">

		  <div class="mb-3">
			<label for="shope_name">Shope Name</label>
			<input type="text" name="shope_name" id="shope_name" class="form-control" required>
		  </div>
         
		  <div class="mb-3">
			<label for="seller_name">Seller Name</label>
			<input type="text" name="seller_name" id="seller_name" class="form-control" required>
		  </div>          

		  <div class="mb-3">
			<label for="shop_address">Shop Address</label>
			<input type="text" name="shop_address" id="shop_address" class="form-control" required>
		  </div>          

		  <div class="mb-3">
			<label for="seller_mobile">Mobile</label>
			<input type="number" name="seller_mobile" id="seller_mobile" class="form-control" required>
		  </div>          

		  <div class="mb-3">
			<label for="seller_mobile">pin</label>
			<input type="number" name="pin" id="pin" class="form-control" required>
		  </div>          

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary" name="Add">Submit</button>
		</div>
	  </div>
	</div>
  </div>
</form>
</div>





{% endblock content %}