<div class="row">
    <div>
    <a  href="/" class="btn btn-primary my-1">Home</a>
    <a  href="/sunil/admin_dashboard/" class="btn btn-primary my-1">Dashboard</a>
    <a href="/product/add_seller/" class="btn btn-primary my-1">Add Seller</a>
    <a href="/product/product/" class="btn btn-primary my-1">Product</a>
    <a href="/product/shop_category/" class="btn btn-primary my-1">Shop Category</a>
    <a href="/order/pending_order/" class="btn btn-primary my-1">Pending Order</a>
    <a href="/sunil/admin_logout/" class="btn btn-danger my-1">Logout</a>
</div>
</div>