{% extends 'base.html' %}
{% block title %}Add Admin{% endblock title %}
{% block content %}
<div class="container mt-3 p-3 border rounded">
    <div class="row">
        <div class="col-6">
    <a href="/"   class="btn btn-success" >Home</a>
  
</div>
<div class="col-6">
    <a href=""  data-bs-toggle="modal" data-bs-target="#Add_Admin" class="btn btn-primary" >Add Admin </a>
</div>
</div>
  </div>
  {% if messages %}
  
  {% for message in messages %}
  <div class="alert alert-success text-center mb-3">{{message}}</div>
  {% endfor %}
  {% endif %}
  
  



<div class="container border">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Pin</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
         
          <tr>{% for a in a %}
            <th scope="row">1</th>
            <td>{{a.admin_name}}</td>
            <td>{{a.admin_mobile}}</td>
            <td>{{a.pin}}</td>
            <td><form class="" method="POST">{% csrf_token %}{% if a.status == 1 %}<button class="btn btn-success" type="submit" name="Active">Active<input type="hidden" name="id" value="{{a.id}}"></button>{% else %}<button class="btn btn-danger" type="submit" name="Deactive">Deactive<input type="hidden" name="id" value="{{a.id}}"></button>{% endif %}</form></td>
            <td><a href="" class="text-bg-info p-2"data-bs-toggle="modal" data-bs-target="#Edit_Admin_{{a.id}}" >Edit</a></td>
          </tr>



<!-- Edit Admin Modal -->
<form action="" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="Edit_Admin_{{a.id}}" tabindex="-1" aria-labelledby="Edit_Admin_{{a.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Edit_Admin_{{a.id}}">Edit Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="admin_id" value="{{a.id}}">
                <div class="mb-3">
                    <label for="hotel_name" class="form-label">Admin Name</label>
                    <input type="text" class="form-control" id="admin_name" name="admin_name" value="{{a.admin_name}}">
                  </div>
                 
    
                  <div class="mb-3">
                   <label for="hotel_address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{a.address}}">
                  </div>
                
                
                  <div class="mb-3">
                   <label for="mobile" class="form-label">Mobile</label>
                    <input type="number" class="form-control" id="admin_mobile" name="admin_mobile" value="{{a.admin_mobile}}">
                  </div>
                
                      <div class="mb-3">
                   <label for="pin" class="form-label">Secret Pin</label>
                    <input type="number" class="form-control" id="pin" name="pin" value="{{a.pin}}">
                  </div>
                
    
                 <br>
                
                
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="Edit">Submit</button>
      </div>
      </div>
    </div>
    </div>
    
    </form>




          {% empty %}
          <h6 class="text-bg-danger text-center">no record found</h6>
          {% endfor %}
        </tbody>
      </table>
</div>



<!-- Add Admin Modal -->
<form action="" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="Add_Admin" tabindex="-1" aria-labelledby="Add_Admin" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Add_Admin">Admin Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="employee_id" value="{{marketing_employee_id}}">
                <div class="mb-3">
                    <label for="hotel_name" class="form-label">Admin Name</label>
                    <input type="text" class="form-control" id="admin_name" name="admin_name" required>
                  </div>
                 
    
                  <div class="mb-3">
                   <label for="hotel_address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                  </div>
                
                
                  <div class="mb-3">
                   <label for="mobile" class="form-label">Mobile</label>
                    <input type="number" class="form-control" id="admin_mobile" name="admin_mobile" required>
                  </div>
                
                      <div class="mb-3">
                   <label for="pin" class="form-label">Secret Pin</label>
                    <input type="number" class="form-control" id="pin" name="pin" required>
                  </div>
                
    
                 <br>
                
                
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="Add">Submit</button>
      </div>
      </div>
    </div>
    </div>
    
    </form>







    
{% endblock content %}

