{% extends 'base.html' %}
{% block title %} Seller Dashboard{% endblock title %}
{% block content %}
<div class="container">
    <div class=""><h>Welcome - {{s.seller_name}}</h></div>
</div>

<div class="container my-3">
  {% include 'seller/seller_menu.html' %}  
</div>
<div class="container mt-3 p-3 border rounded">
    <div class="row">
        
        <div class="col-6"><a href="/product/add_product/" class="btn btn-primary " >Add New Product</a></div>
        
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Images</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price </th>
            <th scope="col">Discount </th>
            <th scope="col">Select Category </th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col" style="display: none;">Delete</th>
          </tr>
        </thead>
        <tbody>{% for p in p %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{% if p.image.url != '' %}<img src='{{p.image.url}}' alt="" height="60px" >{% endif %}</td>
            <td>{{p.product_name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.discount}}</td>
            <td><a href="/product/product_select_category/{{p.id}}" class="btn btn-info p-2" >Select Category</a></td>
            <td><form class="" method="POST">{% csrf_token %}{% if p.status == 1 %}<button class="btn btn-success" type="submit" name="Active">Active<input type="hidden" name="id" value="{{p.id}}"></button>{% else %}<button class="btn btn-danger" type="submit" name="Deactive">Deactive<input type="hidden" name="id" value="{{p.id}}"></button>{% endif %}</form></td>
            <td><a href="/product/edit_product/{{p.id}}" class="text-bg-info p-2" >Edit</a></td>
            <td style="display: none;"><a href="" class="text-bg-danger p-2" data-bs-toggle="modal" data-bs-target="#Delete_Product_Modal_{{p.id}}" >X</a></td>
          </tr>
    
    
    
    	  {% endfor %}
	</tbody>
	
  </table>

   
</div>
{% endblock content %}